*
{
    margin: 0;
}

.navbar
{
    background: blue;
    height: 6rem;
    color: white;
    font-size: 3rem;
}

.banner
{
    background: red;
    min-height: 25vh;
    max-height: 90vh;
    overflow: scroll;
    /* overflow: hidden; */
}